#container-home {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#block-aside {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 216px;
  min-width: 216px;
}

#block-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-left: 24px;
  margin-right: 24px;
}

.link {
  display: flex;
  width: 180px;
  max-width: 180px;
  height: 40px;
  flex-direction: row;
  align-content:flex-end;
  justify-content: start;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
}

#links-block-3 {
  padding: 16px 32px;
}

#sign-in-description {
  display: flex;
  width: 176px;
  line-height: 20px;
  color: var(--text-primary);
  font-size: 14px;
  padding-bottom: 16px;
}

.link span, .link img {
  display: flex;
  align-self: center;
}

.link.active {
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

[id^="links-block"] {
  padding: 12px 12px;
  border-bottom: 1px solid var(--el-grey);
}

#links-p, #links-s {
  padding: 16px 24px;
  padding-right: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#links-p {
  padding-bottom: 0;
}

#links-s {
  padding-bottom: 0;
}

#links-p a, #links-s a {
  color: rgb(170, 170, 170);
  text-decoration: none;
  margin-right: 8px;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 500;
}

#copyright-slot {
  padding: 16px 24px;
  color: rgb(113, 113, 113);
  font-size: 12px;
}

.link {
  width: 240px;
  height: 40px;
}

.link-img {
  margin-right: 24px;
  width: 22px;
  height: 22px;
}

#previews {
  display: flex;
  overflow: scroll;
}

#tags {
  display: flex;
  width: 100%;
  height: 56px;
  min-height: 56px;
  flex-direction: row;
  overflow: hidden;
}

.tag-link:first-of-type {
  margin-left: 24px;
}

.tag-link:last-of-type {
  margin-right: 24px;
}

.tag-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 12px;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  border-radius: 8px;
}

.tag-link.active {
  color: var(--bg-primary);
  background-color: var(--text-primary);
}

.tag-link a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  user-select: none;
  white-space: nowrap;
}

#previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 16px;
  overflow: scroll;
  padding-top: 24px;
  height: 100%;
}

.card-video {
  display: flex;
  flex-direction: column;
  flex: 1 1 320px;
  overflow: hidden;
  margin: 0 8px 40px 8px;
  height: 300px;
}

.video-title-picture-box {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.08);
  max-height: 200px;
  width: 100%;
  border: none;
  border-radius: 12px;
}

.video-title-picture {
  max-height: 200px;
}

.video-description-block {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 100%;
}

.user-avatar-box {
  display: flex;
  width: 36px;
  height: 36px;
  margin: 12px 12px 0 0;
  border: none;
  border-radius: 100%;
  overflow: hidden;
}

.video-description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.video-title-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 288px;
  margin: 12px 0 4px 0;
}

.video-title-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  max-height: 44px;
  line-height: 22px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-meta-box {
  display: flex;
  flex-direction: column;
  color: rgb(170, 170, 170);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.video-meta {
  display: flex;
  flex-direction: row;
}

.video-age::before {
  content: '•';
  margin-left: 4px;
}
