#container-video {
  display: flex;
  width: 100vw;
  flex-direction: row;
  overflow: scroll;
}

#video-content-box {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
  min-width: 640px;
  width: 100%;
}

#video-suggestion-box {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 24px;
  width: 402px;
  min-width: 402px;
}

#player {
  display: flex;
  min-width: 402px;
}

#video {
  width: 100%;
}



.comment-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}

.user-avatar-comment {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border: none;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--el-grey);
}

.user-avatar-comment img {
  width: 40px;
  height: 40px;
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2px;
  height: 20px;
}

.user-name-text {
  font-size: 12px;
  margin-right: 4px;
  overflow: hidden;
  font-weight: 700;
  color: var(--text-primary);
}

.comment-age {
  font-size: 12px;
  color: rgb(170, 170, 170);
}

.card-suggestion {
  display: flex;
  flex-direction: row;
}

.suggestion-cover {
  display: flex;
  max-width: 168px;
  max-height: 94px;
  margin-right: 8px;
  border: none;
  border-radius: 8px;
}

.suggestion-description-block {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 226px;
  height: 94px;
}

.suggestion-description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.suggestion-title-box {
  display: flex;
  flex-wrap: wrap;
}

.suggestion-title-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  max-height: 40px;
  line-height: 20px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-meta-box {
  display: flex;
  flex-direction: column;
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.suggestion-meta {
  display: flex;
  flex-direction: row;
}

.suggestion-age::before {
  content: '•';
  margin-left: 4px;
}
