#container-video {
  display: flex;
  width: 100vw;
  flex-direction: row;
  overflow: scroll;
}

#video-content-box {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
  min-width: 640px;
  width: 100%;
}

#video-suggestion-box {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 24px;
  width: 402px;
  min-width: 402px;
}

#player {
  display: flex;
  min-width: 402px;
}

#video {
  width: 100%;
}

#video-description {
  margin-top: 12px;
  margin-bottom: 24px;
}

.d-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.d-title {
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}

.d-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-left {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-right: 12px;
}

.d-user-avatar {
  display: flex;
  margin-right: 12px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background-color: var(--el-grey);
  cursor: pointer;
}

.d-user-info {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.d-user-name {
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
  text-overflow: ellipsis;
  cursor: pointer;
}

.d-user-subs {
  font-size: 12px;
  color: rgb(170, 170, 170);
  font-weight: 400;
  line-height: 18px;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  width: 95px;
  height: 36px;
  border: none;
  border-radius: 25px;
  background-color: var(--text-primary);
  color: var(--bg-primary);
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.d-right {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  height: 36px;
  max-height: 36px;
}

.d-share,
.d-more,
.d-save {
  margin: 0 3px;
  padding: 0 16px;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
  background-color: var(--bl-grey);
  cursor: pointer;
}

.d-likes {
  margin: 0 3px;
  padding: 0 16px;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  max-height: 36px;
}

.d-like {
  border: none;
  background-color: var(--bl-grey);
  padding-left: 16px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 100%;
}

.d-dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: none;
  background-color: var(--bl-grey);
  padding-left: 16px;
  padding-right: 16px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 0;
  height: 100%;
}

.d-like:hover,
.d-dislike:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.d-share:hover,
.d-more:hover,
.d-save:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.d-like {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* .d-dislike { */
/*   margin-left: 16px; */
/* } */

.d-like img,
.d-dislike img,
.d-save img,
.d-share img,
.d-more img {
  width: 22px;
  height: 22px;
}

.d-like::after {
  margin-left: 6px;
  content: "";
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.2);
}

.d-more {
  padding: 0;
  width: 36px;
  height: 36px;
}

.d-text {
  font-size: 14px;
  margin: 0 6px;
  color: var(--text-primary);
  text-align: center;
  font-weight: 500;
}

.d-description-box {
  margin-top: 12px;
  margin-right: 12px;
  border: none;
  border-radius: 10px;
  background-color: var(--bl-grey);
  cursor: pointer;
}

.d-description-box-wrapper {
  margin: 12px;
  color: var(--text-primary);
}

.d-description-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.d-box-head {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500el-grey;
}

.d-box-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
}

#add-comment-box {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 32px;
}

#c-add-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 24px;
  height: 23.5px;
  overflow: hidden;
  color: var(--text-primary);
  font-stretch: 100%;
}

#comments-counter {
  align-self: flex-end;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 600;
}

#sort-by {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
}

#sort-by img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#sort-by span {
  align-self: center;
  font-size: 14px;
  font-weight: 400;
}

#c-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 16px;
}

#c-user-avatar {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border: none;
  border-radius: 100%;
  background-color: var(--el-grey);
}

#c-question {
  display: flex;
  align-self: center;
  color: lightgray;
  font-size: large;
}

#c-input-wrapper {
  width: 100%;
  padding-right: 24px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  height: 50%;
}

#c-input-field:focus {
  outline: none;
  border-bottom: 1px solid var(--text-primary);
}

#c-input-field {
  border: none;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--el-grey);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(170, 170, 170);
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}

.comment-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}

.user-avatar-comment {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border: none;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--el-grey);
}

.user-avatar-comment:hover,
.user-name > *:hover {
  cursor: pointer;
}

.user-avatar-comment img {
  width: 40px;
  height: 40px;
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2px;
  line-height: 20px;
}

.user-comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.user-name-text {
  font-size: 13px;
  margin-right: 4px;
  overflow: hidden;
  font-weight: 500;
  color: var(--text-primary);
  line-height: 18px;
}

.comment-age {
  font-size: 12px;
  color: rgb(170, 170, 170);
}

.comment-age:hover {
  color: var(--text-primary);
  transition: 0.3s;
}

.user-actions {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.user-likes-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.user-likes-box span {
  line-height: 32px;
  margin-right: 8px;
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 400;
}

.reply {
  margin-left: 8px;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-primary);
}

.like, .dislike {
  width: 30px;
  height: 30px;
  border: none;
}

.like {
  margin-left: -6px;
}


.like img, .dislike img {
  width: 22px;
  height: 22px;
}

.like, .dislike, .reply {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.like:hover,
.dislike:hover,
.reply:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.18);
  border: none;
  border-radius: 25px;
}

.card-suggestion {
  display: flex;
  flex-direction: row;
}

.suggestion-options {
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.suggestion-options-img {
  display: none;
  width: 24px;
  height: 24px;
}


.suggestion-cover {
  display: flex;
  max-width: 168px;
  max-height: 94px;
  margin-right: 8px;
  border: none;
  border-radius: 8px;
}

.suggestion-description-block {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 226px;
  height: 94px;
}

.suggestion-description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.suggestion-title-box {
  display: flex;
  flex-wrap: wrap;
}

.suggestion-title-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  max-height: 40px;
  line-height: 20px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-meta-box {
  display: flex;
  flex-direction: column;
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.suggestion-meta {
  display: flex;
  flex-direction: row;
}

.suggestion-age::before {
  content: '•';
  margin-left: 4px;
}

.suggestion-cover,
.suggestion-description {
  cursor: pointer;
}
